/* CSS Document */


.form_field
{
	padding: 5px;
}

.form_field label
{
	width: 120px;
	display:block;
	float:left;
	padding-right: 5px;
	font-weight: bold;
	color: #1D353F;
}

textarea{
	width: 460px;
	height:300px;
}

.form_field .field_description
{
	margin-left: 130px;
	font-style:italic;
	font-size:10px;
	width:90%;
}
.form_field .field_description.left
{
	font-style:italic;
	font-size:10px;
	margin-left: 0px;

}


.form_field .form_image
{
	float: left;
	padding-right: 10px;
	width: 80px;
}

.form_input .input_file
{
	display:none;
}

.form_input .modify_file
{
	cursor:pointer;
}


.form_input{
	float:left;
}

.form_input .jradios{
	width: 460px;
}

.form_input input,.form_input select{
	width:460px;
	padding-left:5px;
	outline:none;
}


.form_input input[type=file]{
	width:320px !important;
}

.form_input input[type="checkbox"]{
	width:30px;
	float:left;
}

#form_errors_icon
{
	margin-left:5px; 
	width: 20px; 
	float:left;
	padding: 7px 2px;
}

#form_errors_message
{
	margin-left:30px; 
	margin-top:3px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-datepicker-calendar th { padding:0px .3em !important; }

.ui-datepicker{ width:40em; }
.ui-datepicker table { float:left; width:50%; }
.ui-timepicker-div{ width:45%; float: left; padding-left:10px;}
.ui-datepicker-buttonpane{ margin-left: 8px !important; width: 45%; float: left; }
.ui_tpicker_hour_label{ line-height:10px; }
.ui_tpicker_minute_label{ line-height:10px; }
.ui-datepicker-header{ width: 214px; padding-left:25% !important; padding-right:25% !important; }
.ui-datepicker-prev{ margin-left:25%;  }
.ui-datepicker-next{ margin-right:25%;  }


/* GMAPS */

#gmaps-canvas {
	height: 300px;
	width: 93%;
	margin: 10px;	
	border: 1px solid #999;
	-moz-box-shadow:    0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow:         0px 0px 5px #ccc;
}


#gmaps-error {
  color: #cc0000;
}

#gmaps-input-address
{
	width: 460px !important;
}


