body{ background:#010D27 url('../img/bg.jpg') top center repeat-y; }

.main-menu
{
	 background:#D42828;
	 border-top:1px solid #b40808; 
	 border-bottom:1px solid #b40808;
}

.panel-primary
{
	border: 1px solid; 
	border-color: #8BB5DE;
}
.main-navbar .min-link > a
{
	font-size: 12px;
	color: #380b12;
}

.panel-heading
{
	background: #8BB5DE; 
	border: 1px solid; 
	border-color: #8BB5DE;
}

.dropdown-menu li a
{
	background: #fff !important;
	color: #333 !important;
}

.main-navbar > li > a
{
	color: #fff;
}

.scores-position
{
	color:#1B69B3; 
	font-weight:bold;
}

.main-navbar > li > a:hover, .main-menu a:hover, .main-navbar > li > .active,.main-navbar .open > a, .main-navbar .open > a:hover, .main-navbar .open > a:focus
{
	color: #fff;
	background: #8D1B1B;
}

.page-title
{
	background: none;
	color: #fff;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	font-size: 17px;
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0px 15px 0px;
}

.btn-edit-match
{
	font-size: 11px;
	padding: 2px 5px;
}

.main-content
{
	margin-top: 15px;
	margin-bottom: 15px;
}

#bg-footer
{
	line-height:60px;
	background: #111;
	margin-top: 40px;
}

.winners label
{
	height: 10px !important;
	margin-top: -10px;	
}

.select-team label
{
	height: 10px !important;
	line-height: 53px !important;
	margin-top: -10px;
	margin-bottom: 15px;	
}

.select-qualy
{
	background: #F1F1F1;
	padding: 5px;
	margin: 10px 0px;
	height: 65px;
	font-size: 13px;
	border-radius: 3px;
	
}
.select-qualy .dd-container
{
	display: inline-block;
	width: 80% !important;
	font-size: 12px;
}

.select-qualy .dd-selected
{
	height:52px;
}

.qualy-chosen
{
	height: 52px;
	line-height:52px;
	display:inline-block;
}

.winners-podium
{
	text-align:center;
	color: #1B69B2;
	background: #fff;
	padding:10px;
	margin-bottom: 20px;
	border: 1px solid #f1f1f1;
	
}

.winners-podium .dd-selected
{
	line-height: 24px !important;
	height:44px;
}

.winners-podium .dd-container label, .winners-podium .dd-option label
{
	line-height: 31px !important
}
.winners-podium h3
{
	font-weight:bold;
	margin: 10px 5px;
}

.winners-podium .dd-option-image,.winners-podium .dd-selected-image
{
	margin-top: -3px;
}

#podium-1 h3
{
	font-size: 33px;
	
}
#podium-2
{
	margin-top: 29px;
}

#podium-3
{
	margin-top: 67px;
}

#podium-2 h3
{
	font-size: 23px;
}
#podium-3 h3
{
	font-size: 19px;
}

.winners-podium .medal
{
	margin: 10px;
}

.select-qualy .zone-label
{
	display: inline-block;
	background: #D2D2D2;
	color:#000;
	font-size: 15px;
	width: 65px;
	text-align:center;
	height:64px;
	position: relative;
	top: -12px;
	text-transform:uppercase;
}
.select-qualy .zone-label .big
{
	font-size: 24px;
	font-weight:bold;
}

.select-qualy .pos-label
{
	display: inline-block;
	font-size:14px;
	height:63px;
	line-height: 93px;
	top: -20px;
	position: relative;
	margin: 0px 2px;
	font-weight:bold;
	color:#086D4B;
}



.head-title{ color:#FFFFFF; text-align: left; font-size:22px; padding: 10px 5px;}

.navbar-header .navbar-toggle
{
	background-color: #ccc;
}

.navbar-header .icon-bar
{
	background-color: #fff;
}

.form-signin
{
	padding: 10px;
}

.form-signin .panel-heading
{
	text-align: center;
	text-transform:uppercase;
}

.full-width
{
	width:100%;
}

.input-match
{
	width: 5%;
	min-width: 40px;
	max-width: 50px;
	height: 10px;
	text-align:center;
}

.input-match input
{
	padding-left: 0px;
	padding-right: 0px;
	text-align:center;
}

.zone-table .team2
{
	text-align:right;
}

.zone-table .team2 img
{
	margin-left: 2%;
}
.zone-table .team1 img
{
	margin-right: 2%;
}

.dropdown-menu > li > a:hover
{
	color: #333 !important;
	text-decoration:underline !important;
}

.zone-table th, .zone-table th:hover
{ 
	background:none; 
	text-align: left; 
	color:#237423; 
	border-top:0px !important;
	text-shadow: -0.1px 0 #60aC90, 0 0.1px #60aC90, 0.1px 0 #60aC90, 0 -0.1px #60aC90;
}

.match-date-row
{
	font-size: 12px;
	background:none !important;
}

.matchrow td
{
	border-top:none !important;
	background: #f1f1f1;
}

.matchbets{ height:0px; }

.matchbets .col-md-4
{
	text-align: center;
	color: #fff;
	background-color: #777 !important;
}

.matchbets .bet-1
{

}

.matchbets .bet-2
{

}

.matchbets:nth-child(odd) > td, .matchbets:nth-child(even) > td 
{
	color: #fff;
	background-color: none !important;
	padding: 0px 0px 5px 0px; !important;
	
}

.matchbets:hover
{
	background:inherit;
	color:inherit
}
.bet-row-stats:hover
{
	background:none !important;
}

.table-division
{
	height: 40px;
}
.table-division td:hover
{
	background:none !important;
}

.teamname.team1 p{ width:100%; float:left; }

.match-result
{
	font-size:23px;
}

.zone-table .date-info
{
	font-size:11px;
	color:#060;
	text-align:center;
	width: 8%;
	line-height: 30px !important;
}

.zone-table .zone-info
{
	font-size:13px;
	color:#214569;
	text-align:left;
	font-weight:bold;
}


.record-saved
{
	font-size:20px;
	line-height:37px !important;
	width: 4%;
}

.user-result
{
	padding: 5px;
	
}

#positions-table tr td
{
	line-height: 36px;
}

.score-badges
{
	margin: 0px 3px;
	height: 36px;
}

.score-badges .badge {
    position: relative;
    top: -10px;
    left: 6px;
	font-size: 9px;
	background: #f00;
}

.panel-body
{
	background: #E5E5E5;
}

.bluenav
{
	background: #214569;
	color:#fff;
}

.bluenav li a:hover
{
	background: #214569;
	color:#fff;	
}

#section-header
{
	background: #086D4B;
	color: #ffffff;
	text-transform:uppercase;
	height: 50px;
}
#section-header h1
{
	font-size: 29px;
	font-weight:bold;
	margin: 0px;
	line-height: 50px;	
}

#section-nav
{
	background:#408C70;
	text-transform:uppercase;
}

#section-nav li a
{
	color: #166045;
	text-shadow: none;
	font-weight: bold;
}

#section-nav li .sum-league
{
	color: #5195c7;
	text-shadow: none;
	font-weight: bold;
}

#section-nav li .sum-league:hover
{
	color: #fff;
	background: #5F9Ad2;
	text-shadow: none;
	font-weight: bold;
}


#section-nav li:hover,#section-nav li a:hover, #section-nav .open > a, #section-nav .open > a:hover, #section-nav .open > a:focus
{
	background: #60aC90;
	color: #fff;
}

#section-nav .open > a
{
	background: #5F9AD2;
	color: #fff;
}

#section-nav .active
{
	color: #fff;
}

.zone-table .middle-col
{
	background: #DFDFDF;
	text-align:center;
}

.zone-table  .stats-info
{
	background: #F1F1F1;
	color: #fff;
}

.zone-table .bet-col
{
	background:#A0A0A0;
	border-right: 1px solid #fff;
	text-align:center;
	font-size:10px;
}

.zone-table  .stats-info td:nth-child(4)
{
	border-right: 0px;
}

.matches-stats-tabs .tab-content
{
	background: #1A68B2;
	padding:5px;
}

.matches-stats-tabs .nav-tabs
{
	border: 0px;
}

.matches-stats-tabs .nav-tabs > li
{
	margin-bottom: -0px;
}
.matches-stats-tabs .nav-tabs > li > a
{
	background: #053460;
	border:0px;
}

.matches-stats-tabs .nav-tabs > li.active > a
{
	background: #1A68B2;
	color: #fff;
	border:0px;
}

.team-positions-table th
{
	background:#fff;
	color: #1A68B2;
	text-transform:uppercase;
	text-align:center;
}

.team-positions-table #table-header
{
	font-weight: bold;
	color:#D42828;
}

.team-positions-table td
{
	background: #f1f1f1;
}

.team-positions-table .table-header
{
	font-weight: bold;
	
}
.zone-table
{
	border: 0px;
}

#section-nav p
{
	background: none;
	color:#fff;
	text-transform:none;
	margin:10px
}

.zone-table .table-division
{
	background:none;
	height: 1px;
	line-height:1px;
}
.zone-table .table-division td
{
	border-top:0px;
}

.zone-table .teamname
{
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
}

.team-results-table .results-header
{
	text-align:center;
	text-transform:uppercase;
	background: #fff;
	color: #1A68B2;
	font-size: 14px;
}

.team-results-table
{
	font-size: 12px;
}

.team-results-table .input-goals
{
	height: 20px;
	font-size:12px;
	width:20px;
}

.team-results-table .team2
{
	text-align: right;
}


.zone-table .results-header:hover
{
	text-align:center;
}

.zone-table .stats-mobile
{
		color:#1A68B2;
		text-align:center;
}

.zone-table tr, .team-results-table tr
{
	background: #F1F1F1;
}

.badge-desc
{
	color: #fff;
	text-align:center;
}

.badge-desc h1
{
	margin: 5px 0px;
	font-size:16px;
	font-weight: bold;
}

.badge-desc p
{
	height: 80px;
}

.comments
{
	padding: 10px 2% 10px 2%;
	background:#ECECEC;
}

.comments textarea
{
	width:70%; 
	height:31px; 
	font-size:12px; 
	float:left
}

.comments .btn
{
	font-size:12px; 
	margin:0px 5px;
}

.post-comments
{
	font-size: 12px;
}
.post-comment .comment-name
{
	color: #4F8AC2;
	font-weight:bold;
}

.post-comment
{
	margin-bottom:5px;
}


.comment-box .comment-body
{
	background: #fff;
	border-top: 1px solid #eee;
	padding:0px 10px 10px 10px;
	margin-top: 20px;
}


.comment-box .comment-body h2
{
	font-size: 20px;
	font-weight: bold;
	color: #333;
}
.comment-box .comment-body h3
{
	font-size: 20px;
	font-weight: bold;
	color: #086D4B;
	margin-top:5px;
}
.comment-box .comment-body .badge-comment h2
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: #818191;
	margin-top: 5px;
	padding: 8px 5px;
	text-transform: uppercase;
	border-radius: 10px;
}

#finals-panel > div
{
	background: #f00;
	padding: 0px;
	text-align: center;
	border: 1px solid #000;
}

#leave-comment-form
{
	margin-bottom: 35px;
}

#leave-comment-form textarea
{
	margin-bottom:5px;
}

#disqus_thread #footer
{
	display: none;
}

.comment-box .comment-body  h1
{
	font-size: 20px;
	font-weight: bold;
	background: #1BB369;
	color: #fff;
	margin-right: -10px;
	margin-left: -10px;
	padding: 10px;
	
}

.comment-box .comment-body .badge-comment
{
	padding: 7px;
	background:#557;
	color: #fff;
	border: 4px solid #d1d1d1;
	border-radius: 15px;
	text-align: center;
}

#profile-info
{
	margin-bottom: 30px;
}

#profile-info #general-league-score
{
	color: #D42828;
	font-size: 18px;
	margin-bottom: 50px;
}

.form-field-profile
{
	margin-top: 15px;
}

#profile-badges .badge {
    position: relative;
    top: -20px;
    left: 6px;
	font-size: 15px;
	background: #f00;
	padding: 3px 10px;
}

#profile-info #profile-badges
{
	padding: 0px 20%;
}

#leagues-table
{
	background: #fff;
}

.user-found
{
	background: #33cc33 !important;
	color: #fff !important;
}

.user-found:hover, user-found td:hover
{
	color: #000 !important;
}


.finals-panel .bet-col
{
	height:20px;
	line-height:20px;
	padding:5px;
}

.finals-panel input[type="text"]
{
	font-size: 12px;
	width: 20px;
}

.col-4tos .stats-mobile div
{
	margin-top: 0px;
}

.col-4tos .finals-separator
{
	height: 10px;
}

.col-semi .stats-mobile div
{
	margin-top: 0px;
}

.col-semi .finals-separator
{
	height: 10px;
}


.col-finals .finals-table .stats-mobile div
{
	margin-top:  0px;
}

.col-finals  .finals-table .finals-separator
{
	height: 10px;
}

.pagination-dates
{
	border-top:1px solid #227722;
	border-left:1px solid #227722;
	border-right:1px solid #227722;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: rgba(255,255,255,0.86);
	padding:5px;
	margin: 5px 0px 0px 0px;
	color: #fff;
}

.matches-table-container
{
	background: rgba(205,255,205,0.6);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom:1px solid #227722;
	border-left:1px solid #227722;
	border-right:1px solid #227722;
	padding: 2px 10px;
	margin-bottom: 10px;
}

.pagintation-dates-title
{
	float:left; 
	padding:7px;
	color:#38764D;
	font-weight:bold;
	font-size:12px;

}

.pagination-dates .choose-date
{
	background:#18562D;
	border-radius:2px;
	color: #fff;
	font-weight:bold;
	width: 30px;
	text-align:center;
	padding: 2px;
	margin:4px;
	float:left;
	cursor:pointer;
}

.pagination-dates .active
{
	background: #38764D;
	color: #78F478;
}


@media (min-width: 768px) {
	.col-4tos, .col-semi
	{
		padding-right:10px !important;
		padding-left:0px!important;
	}
	.col-8vos
	{
		padding-left:0px !important;
		padding-right:10px !important;	
	}
	
	.col-finals
	{
		padding-left:0px !important;
		padding-right:0px !important;
		
	}

	.finals-container
	{
		min-width: 930px;
	}
	
	.col-4tos .stats-mobile div
	{
		margin-top: 68px;
	}
	
	.col-4tos .finals-separator
	{
		height: 73px;
	}
	
	.col-semi .stats-mobile div
	{
		margin-top: 199px;
	}
	
	.col-semi .finals-separator
	{
		height: 199px;
	}
	
	
	.col-finals .finals-table .stats-mobile div
	{
		margin-top:  440px;
	}
	
	.col-finals  .finals-table .finals-separator
	{
		height: 257px;
	}
}

.finals-panel h2
{
	text-align:center;
	text-transform:uppercase;
	font-size: 20px;
}

.user-result
{
	display:inline-block;
	width: 40px;
}

.matches-stats-tabs
{
	margin-top: 5px;
}

.panel-stats
{
	border: 1px solid #D42828;
}

.panel-stats .panel-heading
{
	background: #D42828;
	border: 1px solid #b40808;
	text-align:center;
	color: #fff;
}

.panel-stats .panel-body
{
	padding-top: 25px;
}

.btn-primary {
	color: #ffffff;
	background-color: #408C70;
	border-color: #206C50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #086D4B;
	border-color: #206C50;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active
{
	background-color: #389D7B;
	border-color: #206C50;
}


a
{
	color: #408C70;
}

a:hover
{
	color: #D42828;
}

#qualys-form
{
	border-radius: 4px;
	background: rgba(150,200,150,0.8);
}

.main-navbar .caret{
	border-top-color: #8D1B1B;
	border-bottom-color: #8D1B1B;
}

.main-navbar a:hover .caret,.main-navbar .open > a:focus .caret,.main-navbar .open > a .caret  {
border-top-color: #D42828;
border-bottom-color: #D42828;
}


#section-nav .caret {
	border-top-color: #086D4B;
	border-bottom-color: #086D4B;
}

#section-nav a:hover .caret {
border-top-color: #408C70;
border-bottom-color: #408C70;
}

.panel-primary
{
	border-color: #408C70;
}

.panel-primary > .panel-heading {
color: #ffffff;
background-color: #408C70;
border-color: #408C70;
background-image: linear-gradient(to bottom, #509C80 0%, #187D5B 100%);
}

.no-comments
{
	color: #D42828;
	text-align:center;
	font-size:18px;
}

.form-control:focus
{
	border-color: #75B6A0;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 175, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 175, 0.6);
}