/*Extra small devices Phones (<768px)*/
@media only screen and (max-width:768px){
	/*HEADER*/
	header{
		background: #ffffff;
	}
	/*NAVIGATIONS*/
	header .navbar-primary{
		padding: 1% 0;
		background: #ffffff;
	}

	header .navbar-primary ul li a{
		color: #252525;
	}

	header .navbar-primary ul li a:hover, header .navbar-primary ul li a.active{
		color: #666;
	}

	header .navbar-primary ul li.social{
		display: none;
	}

	header .navbar-primary .logo{
		display: inline-block;
	}	

	#second-nav ul{
		position: relative;
	}
	#second-nav .logo{
		display: none;
	}
	#second-nav ul li{
		width: 100%;
		padding: 5px;
		border-top: 1px solid #666666;
	}

	/*HOME*/
	/*SLIDER*/
	#slider .col-xs-12{
		padding: 0;
	}

	#slider #myCarousel .carousel-caption{
		text-align: center;
		top: 0;
	}

#slider #myCarousel .carousel-caption h2{
	font-size: 26px;
	margin-bottom: 1%;
}

#slider #myCarousel .carousel-caption h3{
	font-size: 13px;
	margin-bottom: 1%;
}

#slider #myCarousel .carousel-caption p{
	font-size: 12px;
	margin-bottom: 3%;
}

#slider #myCarousel .carousel-caption a{
	font-size: 22px;
	display: inline-block;
}


.carousel-control.left{
	left: 0;
}

.carousel-control.right{
	right: 0;
}

	/*SECTIONS COMMONS*/
	.image-bg-fluid-height{
		color: #ffffff;
		font-family: 'Signika', sans-serif;
		font-weight: 300;
		padding: 150px 0 25px;
		text-align: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	.image-bg-fluid-height h1{
		font-size: 45px;
		line-height: 45px;
		margin: 0 0 15px 0;
	}

	.image-bg-fluid-height .section-lead{
		font-size: 21px;
		line-height: 21px;
		margin: 0 0 25px 0;
	}

	.image-bg-fluid-height .section-paragraph{
		font-size: 14px;
		line-height: 13px;
	}

	/*COLORACION*/
	section#coloracion .product-item, section#coloracion .product-detail a img{
		margin-top: 10%; 
	}

	/*BLOG*/
	section#blog #popular{
		display: none;
	}

	/* ULTIMOS ARTICULOS */

	#ultimos-articulos {
	  margin-bottom: 10px;
	}
	#ultimos-articulos ul{
		width: 100%;
	}
	#ultimos-articulos ul li.small, #ultimos-articulos ul li.big{
		width: 312px;
		margin: auto;
		margin-bottom: 20px;
  		float: none;
	}

	/* FOOTER */

	footer{
		height: 107px;
	}
	footer .right{
		display: none;
	}
	footer .derechos{
		text-align: center;
	}
	footer .mobile{
		display: block;
		margin-bottom: 12px;
	}


}