/* RESET */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
a:visited {text-decoration: none}
a:active, a:hover, a:focus{text-decoration: none}


/* GENERALS */

.content{
	width: 960px;
	margin: auto;
}
body{
	font-family: 'Open Sans', sans-serif;
}
nav ul li{
	float: left;
	text-transform: uppercase;
}	

/* HEADER */

header{
	height: 140px;	
}
#header-top{
	height: 47px;
	background: #252525;
}
#header-top nav ul li{
	padding: 16px 22px;
}
#header-top nav ul li.social{
	padding: 14px 2px;
}
#header-top nav ul li a{
	color: #878484;
	font-size: 13px;
	font-weight: 700;
}
#header-top nav ul li.active a{
	color: #ffffff;
}

#header-bottom{
	height: 93px;
}

#header-bottom h1{
	text-indent: -9999px;
	background: url('../img/logo.png') no-repeat;
	width: 85px;
	height: 36px;
	margin: 31px 0 0 1px;
}
#header-bottom nav ul li{
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	font-size: 19px;
	padding: 40px 85px 0 0;
}

#header-bottom nav ul li.last{
	padding-right: 0;
}
#header-bottom nav ul li a{
	color: #878484;
}
#header-bottom nav ul li.active a{
	color: #730029;
}

/* Mobile */

#btn_mobile{
	/*display: none;*/
	width: 42px;
	height: 42px;
	border: none;
	padding: 0;
	display: none;
}


/* HOME */

/* SLIDER */

#slider, .bxslider, .bxslider li{
	height: 586px;
}
#slider-1{
	background: transparent url('../img/slider1.jpg') no-repeat center;
}
#slider-2{
	background: transparent url('../img/slider2.jpg') no-repeat center;
}
.bxslider li{
	padding-top: 165px;
}
.content-text{
	width: 350px;
	color: #ffffff;
	font-family: 'Signika', sans-serif;
}
.content-text h2{
	font-size: 56px;
	font-size: 700;
	margin-bottom: 24px;
}
.content-text h3{
	font-size: 23px;
	font-size: 600;
	margin-bottom: 21px;
}
.content-text p{
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
}
.content-text button{
	width: 233px;
	height: 49px;
	background: #ee075d;
	border: none;
	font-size: 32px;
	font-weight: 700;
}
.content-text button a{
	color: #ffffff;
}
#slider-2 .content-text button{
	background: #29abe2;
}


/* NUESTROS PRODUCTOS */

#nuestros-productos{
	padding: 0 15px 0 30px;
	margin-bottom: 84px;
}
#nuestros-productos h3, #ultimos-articulos h3{
	font-size: 25px;
	font-weight: 300;
	font-family: 'Signika', sans-serif;
	text-align: center;
	margin: 64px 0 51px 0;
	background: transparent url('../img/back_line.png') no-repeat center;
}
.item{
	margin: 0 15px 0 0;
}
.box-image{
	border: 1px solid #d5d5d5;
	position: relative;
}

.box-image a{
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.box-image a:hover{
	opacity: 1;
}

.box-image a span{
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 23px;
	position: absolute;
	width: 80%;
	padding: 2%;
	left:0;
	right:0;
	top: 42%;
	margin:auto;
}
.box-info{
	text-align: center;
}
.box-info h4{
	font-size: 25px;
	font-weight: 600;
	margin: 16px 0 11px 0;
}
.box-info p{
	font-size: 16px;
	font-weight: 300;
}
.owl-nav{
	display: none;
}
.owl-theme .owl-controls{
	margin-top: 25px !important;
}
.owl-theme .owl-dots .owl-dot span{
	width: 8px !important;
  height: 8px !important;
  margin: 0 7px !important;
  background: #000 !important;
}

.owl-theme .owl-dots .owl-dot span:hover, .owl-theme .owl-dots div.active span{
	background: #f33337 !important;
}
/* ULTIMOS ARTICULOS */

#ultimos-articulos{
	margin-bottom: 106px;
}
#ultimos-articulos ul{
	width: 1170px;
	margin: auto;
}
#ultimos-articulos ul li{
	float: left;
	height: 248px;
	margin-right: 16px;
}
#ultimos-articulos ul li.no_margin_r{
	margin-right: 0;
}
#ultimos-articulos ul li.small{
	width: 312px;
}
#ultimos-articulos ul li.big{
	width: 513px;
}
.box_info{
	width: 130px;
}
.box_info span{
	color: #333;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding: 7px 15px;
	background: #ffffff;
	margin: 12px 0 0 2px;
	display: inline-block;
}

#ultimos-articulos ul li a{
	background: rgba(0, 0, 0, 0);
	display: block;
	height: 100%;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#ultimos-articulos ul li a:hover{
	background: rgba(0, 0, 0, 0.3);
}

#ultimos-articulos ul li a h4{
	opacity: 0.8;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#ultimos-articulos ul li a:hover h4{
	opacity: 1;
}
#ultimos-articulos ul li .green{
	padding: 7px 15px;
	background: #43b77a;
	color: #ffffff;
	margin-top: 0;
}
#ultimos-articulos ul li .purple{
	background: #5843b7;
	color: #ffffff;
	margin-top: 0;
}
#blog_post1{
	background: transparent url('../img/blog_post1.jpg') no-repeat center;
}
#blog_post2{
	background: transparent url('../img/blog_post2.jpg') no-repeat center;
}
#blog_post3{
	background: transparent url('../img/blog_post3.jpg') no-repeat center;
}
#ultimos-articulos h4{
	color: #ffffff;
	font-size: 27px;
	margin-top: 18px;
	padding: 0 35px
}


/* FOOTER */

footer{
	margin-top: 3%;
	height: 66px;
	background: #000000;
	color: #878889;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	padding-top: 27px;
}
footer .right{
	position: relative;
	top: -13px;
}
footer .right span{
	margin: 0 12px;
}
footer .mobile{
	display: none;
}
#img_footer{
	position: relative;
	top: 9px;
}


/*SECTIONS COMMONS*/
.image-bg-fluid-height{
	color: #ffffff;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	padding: 50px 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.image-bg-fluid-height h1{
	font-size: 56px;
	line-height: 56px;
	margin: 0 0 30px 0;
}

.image-bg-fluid-height .section-lead{
	font-size: 23px;
	line-height: 23px;
	margin: 0 0 15px 0;
}

.image-bg-fluid-height .section-paragraph{
	font-size: 15px;
	line-height: 14px;
}

/*ABOUT*/
section#about p{
	color: #000000;
	margin: 5% 0;
	font-family: 'Signika', sans-serif;
	font-size: 14px;
}

/*COLORACION*/
section#coloracion{
	padding-top: 65px;
	position: relative;
}

section#coloracion .product-item{
	text-align: center;
}

section#coloracion .product-item h3, 
section#coloracion .product-item p, 
section#coloracion .product-item img{
	cursor: pointer;
}

section#coloracion .product-item h3{
	color: #000000;
	font-family: 'Signika', sans-serif;
	font-size: 25px;
	font-weight: 300;
	line-height: 25px;
	margin: 0 0 12px 0;
}
section#coloracion .product-item p{
	color: #000000;
	font-family: 'Signika', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	margin: 0 0 50px 0;
}
section#coloracion .product-item img{
	border: 1px solid #d5d5d5;
	margin: 0 auto;
}

section#coloracion #opacity-bg{
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 1000;
}

section#coloracion #opacity-bg.active{
	display: block;
}
#coll .exposed{
	text-align: center;
	z-index: 2000 !important;
}

#coll .exposed img{
	background: #ffffff;
	border: 1px solid #ffffff !important;
}
section#coloracion .showing{
	background: url('../img/css/collapse_arrow.png') no-repeat;
	background-size: cover;
	position: absolute;
	cursor: pointer;
	width: 30px;
	height: 15px;
	bottom: 0;
	right: 45%;
	z-index: 2000 !important;
}

#coll .exposed h3, 
#coll .exposed p, 
#coll .exposed img{
	color: #ffffff !important;
	z-index: 2000 !important;
}

section#coloracion .detail-cont{
	padding: 80px 143px 30px;
  width: 124%;
  margin-left: -12%;
  background: #710329;
  position: relative;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	z-index: 2000 !important;
}

section#coloracion .unexpose{
	background: url('../img/css/close.png') no-repeat;
	background-size: cover;
	position: absolute;
	cursor: pointer;
	width: 30px;
	height: 30px;
	top: 5%;
	right: 12%;
	z-index: 2000 !important;
}

section#coloracion .product-detail a{
	text-align: center;
	display: block;
}
section#coloracion .product-detail a img{
	border: 1px solid #994260;
	margin: 0 auto;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
section#coloracion .product-detail:hover a img{
	background: #ffffff;
}
section#coloracion .product-detail a p{
	color: #994260;
	font-size: 17px;
	line-height: 17px;
	margin: 25px 0 0 0;
		-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
section#coloracion .product-detail:hover a p{
	color: #ffffff;
}

/*BLOG*/
section#blog{
	margin-top: 3%;
	font-family: 'Signika', sans-serif;
}
section#blog #blog-post h2{
	background: #43b77a;
	color: #ffffff;
	font-size: 19px;
	line-height: 30px;
	padding: 0 3%;
	display: inline;
}

section#blog #blog-post img{
	margin-top: -3px;
}

section#blog #blog-post .social{
	margin: 3% 0;
}

section#blog #blog-post h3{
	color: #000000;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 3%;
}

section#blog #blog-post p{
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
section#blog #popular ul li{
	border-bottom: 1px dotted #000000;
	overflow: hidden;
	margin: 2% 0;
	padding: 2% 0;
}
section#blog #popular ul li img{
	float: left;
	margin-right: 2%;
}

section#blog #popular ul li a{
	color: #499ae0;
	float: left;
	font-size: 14px;
}

section#blog h4{
	background: #710329;
	color: #ffffff;
	font-size: 17px;
	line-height: 28px;
	padding: 0 3%;
	width: auto;
}

section#blog #related{
	padding: 0;
	margin-top: 10%;
}

section#blog #related img{
	margin: 15% 0 3%
}

section#blog #related h3{
	color: #f01235;
	font-size: 14px;
	line-height: 14px;
	margin: 5% 0;
	text-transform: uppercase;
}

section#blog #related p{
	color: #b1b1b1;
	font-size: 11px;
	line-height: 11px;
	margin: 3% 0;
}

section#blog #related a{
	color: #499ae0;
	font-size: 12px;
	line-height: 12px;
	margin: 3% 0;
}

/*Extra small devices Phones (<768px)*/
@media only screen and (max-width:768px){
	/*SECTIONS COMMONS*/
	.image-bg-fluid-height{
		background: url('http://lorempixel.com/g/1920/500/') no-repeat center top scroll;
		color: #ffffff;
		font-family: 'Signika', sans-serif;
		font-weight: 300;
		padding: 150px 0 25px;
		text-align: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	.image-bg-fluid-height h1{
		font-size: 45px;
		line-height: 45px;
		margin: 0 0 15px 0;
	}

	.image-bg-fluid-height .section-lead{
		font-size: 21px;
		line-height: 21px;
		margin: 0 0 25px 0;
	}

	.image-bg-fluid-height .section-paragraph{
		font-size: 14px;
		line-height: 13px;
	}

	section#coloracion .product-item, section#coloracion .product-detail a img{
		margin-top: 10%; 
	}

}

@media only screen and (max-width:640px){

	#btn_mobile{
		display: block;
		margin: 30px 20px 0 0;
	}
	#header-top, #header-bottom nav{
		display: none;
	}
	.content{
		width: 100%;
	}

	
	/* SLIDER */
	
	#slider{
		  height: 468px;
	}
	#slider-1{
		background: #710329 url('../img/slider1-mobile.png') no-repeat center top;
	}
	.content-text{
		text-align: center;
		width: 60% !important;
		margin: auto;
	}
	.content-text h2{
		font-size: 37px;
		font-weight: 700;
	}
	.content-text h3{
		font-size: 15.5px;
		font-weight: 600;
	}
	.content-text p{
		font-size: 14px;
		font-weight: 300;
	}
	.content-text button{
		font-size: 30px;
	}
	.bx-controls-direction a{
		top: 40% !important;
	}
	header{
		height: inherit;
	}
	.bxslider, .bxslider li{
		max-height: 468px !important;
	}

	/* ULTIMOS ARTICULOS */

	#ultimos-articulos {
	  margin-bottom: 10px;
	}
	#ultimos-articulos ul{
		width: 100%;
	}
	#ultimos-articulos ul li.small, #ultimos-articulos ul li.big{
		width: 312px;
		margin: auto;
		margin-bottom: 20px;
  		float: none;
	}

	/* FOOTER */

	footer{
		height: 107px;
	}
	footer .right{
		display: none;
	}
	footer .derechos{
		text-align: center;
	}
	footer .mobile{
		display: block;
		margin-bottom: 12px;
	}


}