/* RESET */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
a:visited {text-decoration: none}
a:active, a:hover, a:focus{text-decoration: none}


/* GENERALS */

body{
	font-family: 'Open Sans', sans-serif;
}



/* HEADER */
/*PRIMARY NAV*/
header{
	background: #252525;
}

header #primary{
	padding: 0;
}
header .navbar-primary{
	padding: 1% 0;
	background: #252525;
}
header .navbar-primary .navbar-right{
	margin-right: 0 !important;
}
header .navbar-primary .logo{
	display: none;
}
header .navbar-primary ul li a{
	color: #878484;
	text-transform: uppercase;
	padding: 0 40px 0 0;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

header .navbar-primary ul li a:hover, header .navbar-primary ul li a.active{
	color: #ffffff;
}

header .navbar-primary ul li.social a{
	padding: 0 2px;
}

header .navbar-primary ul li.social a:hover{
	opacity: 0.7;
}

#second-nav{
	position: relative;
	background: #ffffff;
	padding: 1% 0;
}

#second-nav .logo{
	display: inline-block;
	float: left;
}

#second-nav ul{
	position: absolute;
	right: 0;
	width: 80%;
}

#second-nav ul li{
	float: right;
	padding-left: 10%;
}

#second-nav ul li:last-child{
	padding: 0;
}
#second-nav ul li a{
	color: #5b5b5b;
	font-family: 'Signika', sans-serif;
	font-size: 20px;
	font-weight: 600;	
	text-transform: uppercase;
	line-height: 45px;
	float: left;
}

#second-nav ul li a:hover, #second-nav ul li a.active{
	color: #730029;
}
/* HOME */
/* SLIDER */
#slider{
	overflow: hidden;
	width: 100%;
}
#slider #myCarousel .item{
	padding: 0;
	width: 100%;
}

#slider #myCarousel .carousel-caption{
	left: 0;
	width: 100%;
	top: 20%;
	text-align: left;
	color: #ffffff;
	font-family: 'Signika', sans-serif;
}

#slider #myCarousel .carousel-caption h2{
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 24px;
}

#slider #myCarousel .carousel-caption h3{
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 21px;
}

#slider #myCarousel .carousel-caption p{
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
}

#slider #myCarousel .carousel-caption a{
	color: #ffffff;
	border: none;
	font-size: 32px;
	padding: 0.3% 5%;
	font-weight: 700;
}

.carousel-control.left{
	background: 0;
	left: -3%;
}

.carousel-control.right{
	background: 0;
	right: -3%;
}

#slider .mobile{
	display: none;
}
/*SLIDER COLOURS*/
#slider .btn-bordeaux{
	background: #ee075d;
}
#slider .btn-black{
	background: #000000;
}
#slider .btn-white{
	background: #ffffff;
	color: #000000;
}
#slider .btn-grey{
	background: #666666;
}
#slider .btn-blue{
	background: blue;
}
#slider .btn-red{
	background: red;
}
#slider .btn-green{
	background: green;
}
/* NUESTROS PRODUCTOS */

#nuestros-productos{
	padding: 0 15px 0 30px;
	margin-bottom: 84px;
}
#nuestros-productos h3, #latest h3{
	font-size: 25px;
	font-weight: 300;
	font-family: 'Signika', sans-serif;
	text-align: center;
	margin: 64px 0 51px 0;
	background: transparent url('../img/back_line.png') no-repeat center;
}
.item{
	margin: 0 15px 0 0;
}
.box-image{
	border: 1px solid #d5d5d5;
	position: relative;
}

.box-image a{
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.box-image a:hover{
	opacity: 1;
}

.box-image a span{
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 23px;
	position: absolute;
	width: 80%;
	padding: 2%;
	left:0;
	right:0;
	top: 42%;
	margin:auto;
}
.box-info{
	text-align: center;
}
.box-info h4{
	font-size: 25px;
	font-weight: 600;
	margin: 16px 0 11px 0;
}
.box-info p{
	font-size: 16px;
	font-weight: 300;
}
.owl-nav{
	display: none;
}
.owl-theme .owl-controls{
	margin-top: 25px !important;
}
.owl-theme .owl-dots .owl-dot span{
	width: 8px !important;
  height: 8px !important;
  margin: 0 7px !important;
  background: #000 !important;
}

.owl-theme .owl-dots .owl-dot span:hover, .owl-theme .owl-dots div.active span{
	background: #f33337 !important;
}
/* ULTIMOS ARTICULOS */

#ultimos-articulos{
	margin-bottom: 106px;
}

#latest > div > div > div > div.latest-item{
	float: left;
	position: relative;
	overflow: hidden;
	padding-bottom: 20%;
}

#latest > div > div > div > div:nth-child(1), 
#latest > div > div > div > div:nth-child(3){
	width: 30%;
}

#latest > div > div > div > div:nth-child(2){
	width: 35%;
	margin: 0 2.5%;
}

#latest > div > div > div > div.latest-item a{
	display: block;
	position: absolute;
	width: 100%;
	opacity: 1;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#latest > div > div > div > div.latest-item a:hover{
	opacity: 0.8;
}

#latest > div > div > div > div.latest-item a img{
	position: absolute;
	z-index: 100;
	width: 100%;
}

#latest > div > div > div > div.latest-item a .box-info{
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	z-index: 200;
}

#latest > div > div > div > div.latest-item a .box-info span{
	background: #232323;
	padding: 0 5%;
	line-height: 25px;
	float: left;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	clear: both;
}

#latest > div > div > div > div.latest-item a .box-info span:first-child{
	margin-top: 5%;
}
#latest > div > div > div > div.latest-item a .box-info span.Tendencia{
	background: #5843b7 !important;
}

#latest > div > div > div > div.latest-item a .box-info span.Consejo{
	background: #43b77a !important;
}

#latest > div > div > div > div.latest-item a .box-info h4{
	float: left;
	width: 90%;
	color: #ffffff;
	font-size: 30px;
	font-weight: 600;
}
/* FOOTER */

footer{
	margin-top: 3%;
	background: #000000;
	color: #878889;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	padding: 2% 0;
}

footer ul{
	float: right;
	width: 100%;
}

footer p{
		line-height: 23px;
}
footer ul li{
	float: right;
	line-height: 23px;
	margin-left: 4%;
}

footer ul li a{
	float: left;
	color: #878889;
}
footer .mobile{
	display: none;
}
footer .notmobile{
	display: block;
}


/*SECTIONS COMMONS*/
.image-bg-fluid-height{
	color: #ffffff;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	padding: 50px 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.image-bg-fluid-height h1{
	font-size: 56px;
	line-height: 56px;
	margin: 0 0 30px 0;
}

.image-bg-fluid-height .section-lead{
	font-size: 23px;
	line-height: 23px;
	margin: 0 0 15px 0;
}

.image-bg-fluid-height .section-paragraph{
	font-size: 15px;
	line-height: 14px;
}

/*ABOUT*/
section#about p{
	color: #000000;
	margin: 5% 0;
	font-family: 'Signika', sans-serif;
	font-size: 14px;
}

/*COLORACION*/
section#coloracion{
	padding-top: 65px;
	position: relative;
}

section#coloracion .product-item{
	text-align: center;
}

section#coloracion .product-item h3, 
section#coloracion .product-item p, 
section#coloracion .product-item img{
	cursor: pointer;
}

section#coloracion .product-item h3{
	color: #000000;
	font-family: 'Signika', sans-serif;
	font-size: 25px;
	font-weight: 300;
	line-height: 25px;
	margin: 0 0 12px 0;
}
section#coloracion .product-item p{
	color: #000000;
	font-family: 'Signika', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	margin: 0 0 50px 0;
}
section#coloracion .product-item img{
	border: 1px solid #d5d5d5;
	margin: 0 auto;
}

section#coloracion #opacity-bg{
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 1000;
}

section#coloracion #opacity-bg.active{
	display: block;
}
#coll .exposed{
	text-align: center;
	z-index: 2000 !important;
}

#coll .exposed img{
	background: #ffffff;
	border: 1px solid #ffffff !important;
}
section#coloracion .showing{
	background: url('../img/css/collapse_arrow.png') no-repeat;
	background-size: cover;
	position: absolute;
	cursor: pointer;
	width: 30px;
	height: 15px;
	bottom: 0;
	right: 45%;
	z-index: 2000 !important;
}

#coll .exposed h3, 
#coll .exposed p, 
#coll .exposed img{
	color: #ffffff !important;
	z-index: 2000 !important;
}

section#coloracion .detail-cont{
	padding: 80px 143px 30px;
  width: 124%;
  margin-left: -12%;
  background: #710329;
  position: relative;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	z-index: 2000 !important;
}

section#coloracion .unexpose{
	background: url('../img/css/close.png') no-repeat;
	background-size: cover;
	position: absolute;
	cursor: pointer;
	width: 30px;
	height: 30px;
	top: 5%;
	right: 12%;
	z-index: 2000 !important;
}

section#coloracion .product-detail a{
	text-align: center;
	display: block;
}
section#coloracion .product-detail a img{
	border: 1px solid #994260;
	margin: 0 auto;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
section#coloracion .product-detail:hover a img{
	background: #ffffff;
}
section#coloracion .product-detail a p{
	color: #994260;
	font-size: 17px;
	line-height: 17px;
	margin: 25px 0 0 0;
		-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
section#coloracion .product-detail:hover a p{
	color: #ffffff;
}

/*BLOG*/
section#blog{
	margin-top: 3%;
	font-family: 'Signika', sans-serif;
}

section#blog .post-item h3{
	margin-bottom: 3%;
}

section#blog .post-item p{
	margin: 2% 0;
}

section#blog #blog-post h2{
	background: #43b77a;
	color: #ffffff;
	font-size: 19px;
	line-height: 30px;
	padding: 0 3%;
	display: inline;
}

section#blog #blog-post img{
	margin-top: -3px;
}

section#blog #blog-post .social{
	margin: 3% 0;
}

section#blog #blog-post h3{
	color: #000000;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 3%;
}

section#blog #blog-post p{
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
section#blog #popular ul li{
	border-bottom: 1px dotted #000000;
	overflow: hidden;
	margin: 2% 0;
	padding: 2% 0;
}
section#blog #popular ul li img{
	float: left;
	margin-right: 2%;
	max-width: 100px;
}

section#blog #popular ul li a{
	color: #499ae0;
	float: left;
	font-size: 14px;
}

section#blog h4{
	background: #710329;
	color: #ffffff;
	font-size: 17px;
	line-height: 28px;
	padding: 0 3%;
	width: auto;
}

section#blog #related{
	padding: 0;
	margin-top: 10%;
}

section#blog #related img{
	margin: 15% 0 3%
}

section#blog #related h3{
	color: #f01235;
	font-size: 14px;
	line-height: 14px;
	margin: 5% 0;
	text-transform: uppercase;
}

section#blog #related p{
	color: #b1b1b1;
	font-size: 11px;
	line-height: 11px;
	margin: 3% 0;
}

section#blog #related a{
	color: #499ae0;
	font-size: 12px;
	line-height: 12px;
	margin: 3% 0;
}

/*DETAIL*/
section#detail{
	margin-top: 4%;
}

section#detail img{
	border: 1px solid #D5D5D5;
}

section#detail p{
	color: #000000;
	font-size: 16px;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 2%;
}

section#detail p:last-child{
	margin: 0;
}

section#color-chart{
	margin-top: 4%;
}

section#color-chart h3{
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #D5D5D5;
	display: inline;
	padding: 1% 2%;
}

section#color-chart hr{
	border: 0;
	background: #D5D5D5;
	height: 1px;
	width: 55%;
	float: right;
	margin-top: 27px;
}

section#color-chart #viewer{
	max-height: 100px;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
}

section#color-chart #viewer .color-option img{
	float: left;
	margin-right: 3%;
}

section#color-chart #viewer .color-option p{
	color: #000000;
	display: inline-block;
	font-size: 22px;
	line-height: 92px;
	float: left;
}

section#color-chart #viewer .color-option p span{
	font-size: 45px;
	font-weight: 600;
}

section#color-chart #viewer .color-option p span sup{
	font-size: 22px;
	line-height: 22px;
}

section#color-chart #accordion{
	margin-top: 2%;
}

section#color-chart #accordion .panel{
	background: #f4f4f4;
	border: 0;
	border-bottom: 1px solid #D5D5D5;
}
section#color-chart #accordion .panel-heading{
	padding: 30px 15px 20px;
}
section#color-chart #accordion .panel-heading h4 a{
	cursor: pointer;
}

section#color-chart #accordion .panel-body{
	border: 0;
}

section#color-chart #accordion .color-option{
	position: relative;
}

section#color-chart #accordion .color-option .viewing{
	border: 3px solid #710329;
	background: rgba(255, 255, 255, 0.5);
	left: 0;
	position: absolute;
	padding: 2px;
	top: 0;
	width: 100%;
	height: 100%;
}

section#color-chart #accordion .color-option img{
	min-width: 20px;
}
section#color-chart #accordion .color-option p{
	display: none;
}

/*CONTACT*/

section#contact{
	margin-top: 4%;
}

section#contact .bigicon{
    font-size: 35px;
    color: #710329;
}